In [2]:
import pandas as pd
df = pd.read_csv('datasets/chap3/nyc_temperatures.csv')
df.head()

                  date datatype            station attributes  value
0  2018-10-01T00:00:00     TAVG  GHCND:USW00014732      H,,S,   21.2
1  2018-10-01T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   25.6
2  2018-10-01T00:00:00     TMIN  GHCND:USW00014732   ,,W,2400   18.3
3  2018-10-02T00:00:00     TAVG  GHCND:USW00014732      H,,S,   22.7
4  2018-10-02T00:00:00     TMAX  GHCND:USW00014732   ,,W,2400   26.1

In [5]:
# Renaming Columns
df.columns
df.rename(columns={"value":"temp_c" , "attributes":"flags"}, inplace=True)
df.columns

Index(['date', 'datatype', 'station', 'flags', 'temp_c'], dtype='object')

In [10]:
# using rename
df.rename(str.capitalize, axis='columns').columns

Index(['Date', 'Datatype', 'Station', 'Flags', 'Temp_c'], dtype='object')

In [16]:
# Changing data types in colums
df.dtypes
df.loc[:,'Date'] = pd.to_datetime(df['Date'])

/var/folders/4j/bn3pvx9j4j9fh1s05gm6p2n40000gn/T/ipykernel_10585/1759230688.py:3: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,'Date'] = pd.to_datetime(df['Date'])

In [18]:
# this one is treated as string 
df.Date.describe()
# if we want to treated as numeric and get results in numeric
df.Date.describe(datetime_is_numeric=True)

/var/folders/4j/bn3pvx9j4j9fh1s05gm6p2n40000gn/T/ipykernel_10585/810940312.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.Date.describe()

count                     93
mean     2018-10-16 00:00:00
min      2018-10-01 00:00:00
25%      2018-10-08 00:00:00
50%      2018-10-16 00:00:00
75%      2018-10-24 00:00:00
max      2018-10-31 00:00:00
Name: Date, dtype: object

In [27]:
# with rename we can handle any type converstion by passing the column as named parameters and their new values 
# as the value of the argument to the method call
df = pd.read_csv('datasets/chap3/nyc_temperatures.csv').rename(columns={'value': 'temp_C', 'attributes': 'flags'})

new_df = df.assign(
    date = pd.to_datetime(df['date']),
    temp_f = (df['temp_C']* 9/5) + 32
)
new_df

         date datatype            station     flags  temp_C  temp_f
0  2018-10-01     TAVG  GHCND:USW00014732     H,,S,    21.2   70.16
1  2018-10-01     TMAX  GHCND:USW00014732  ,,W,2400    25.6   78.08
2  2018-10-01     TMIN  GHCND:USW00014732  ,,W,2400    18.3   64.94
3  2018-10-02     TAVG  GHCND:USW00014732     H,,S,    22.7   72.86
4  2018-10-02     TMAX  GHCND:USW00014732  ,,W,2400    26.1   78.98
..        ...      ...                ...       ...     ...     ...
88 2018-10-30     TMAX  GHCND:USW00014732  ,,W,2400    13.9   57.02
89 2018-10-30     TMIN  GHCND:USW00014732  ,,W,2400     7.2   44.96
90 2018-10-31     TAVG  GHCND:USW00014732     H,,S,    12.6   54.68
91 2018-10-31     TMAX  GHCND:USW00014732  ,,W,2400    17.8   64.04
92 2018-10-31     TMIN  GHCND:USW00014732  ,,W,2400     7.2   44.96

[93 rows x 6 columns]