In [2]:
import pandas as pd 
import seaborn as sns 
import numpy as np 
import matplotlib.pyplot as plt

In [10]:
wide = pd.read_csv('datasets/chap3/wide_data.csv', parse_dates=['date'])
wide.describe(include='all', datetime_is_numeric=True)

                      date       TMAX       TMIN       TOBS
count                   31  31.000000  31.000000  31.000000
mean   2018-10-16 00:00:00  16.829032   7.561290  10.022581
min    2018-10-01 00:00:00   7.800000  -1.100000  -1.100000
25%    2018-10-08 12:00:00  12.750000   2.500000   5.550000
50%    2018-10-16 00:00:00  16.100000   6.700000   8.300000
75%    2018-10-23 12:00:00  21.950000  13.600000  16.100000
max    2018-10-31 00:00:00  26.700000  17.800000  21.700000
std                    NaN   5.714962   6.513252   6.596550

In [8]:
long_df = pd.read_csv('datasets/chap3/long_data.csv', usecols=["date","datatype", "value"], parse_dates=["date"])[["date", "datatype", "value"]]

         date datatype  value
0  2018-10-01     TMAX   21.1
1  2018-10-01     TMIN    8.9
2  2018-10-01     TOBS   13.9
3  2018-10-02     TMAX   23.9
4  2018-10-02     TMIN   13.9
..        ...      ...    ...
88 2018-10-30     TMIN    2.2
89 2018-10-30     TOBS    5.0
90 2018-10-31     TMAX   12.2
91 2018-10-31     TMIN    0.0
92 2018-10-31     TOBS    0.0

[93 rows x 3 columns]